@import 'material-icons-base64/index.css';
@import 'fonts.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  appearance: none;
  border: none;
  background: none;
  text-decoration: none;
  outline: none;
  color: inherit;
}

:root {
  --pad: 1rem;
}

html {
  font-size: 10px;
  user-select: none;
}

body {
  font-family: sans-serif;
  font-size: 1.4rem;
  line-height: 1.2;
  background: white;
}

a:hover {
  color: blue;
}

pre {
  white-space: pre-wrap;
  font-family: 'TW', monospace;
}

.pill {
  background: white;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  padding: 0.5rem 1rem;
  display: inline-block;
}
.pill i {
  font-size: 1em;
  line-height: 0;
  vertical-align: middle;
  position: relative;
}